.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: rgb(234, 245, 247);

}


.page-item {
    margin: 0;
}


.page-link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
    color: #333;
}


.page-item.active .page-link {
    background-color: #9dc3eb;
    color: #fff;
    border-color: #007bff;
}


.page-item.disabled .page-link {
    pointer-events: none;
    background-color: #f1f1f1;
    color: #888;
    border-color: #ccc;
}


.prev-button,
.next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
}

.prev-button.disabled,
.next-button.disabled {
    background-color: #f1f1f1;
    color: #888;
    pointer-events: none;
}


.prev-button.active,
.next-button.active {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}